* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0;
  font-weight: 600;
  font-size: 45px;
  opacity: 0.8;
  text-align: center;
}

.line {
  margin: 2rem 10%;
}

/* Navbar Section Start */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left h3 {
  color: azure;
  margin-top: 10px;
  letter-spacing: 4px;
}

.header-left h4 {
  color: white;
  letter-spacing: 2px;
  font-weight: normal;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.login {
  background-color: rgba(255, 255, 255, 0.3);
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  color: aliceblue;
  line-height: 65px;
  padding: 0 25px;
  display: inline-block;
}

/* Top Section Start */

.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.fa {
  margin-right: 5px;
}

/* Skill Section Start */

.skill-wrapper {
  text-align: center;
  background-color: rgb(33, 40, 50);
  height: 500px;
  padding-bottom: 50px;
  color: white;
}

.container h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0;
  font-weight: 600;
  font-size: 45px;
  opacity: 0.8;
}
.card i {
  color: white;
  size-adjust: 40px;
  margin-bottom: -10px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 23px;
  font-weight: 500;
  padding: -10px 0 10px 0;
  text-transform: capitalize;
}

.card {
  width: 32%;
  background: #222;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.5s;
}

.card:hover {
  color: black;
}

.purple:hover {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.orange:hover {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.green:hover {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.bublegum:hover {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.blue:hover {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.red:hover {
  background-color: #ff9a8b;
  background-image: linear-gradient(90deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
}

.red a {
  color: white;
  margin-left: 5px;
}

.red a:hover {
  color: black;
}

/* Feautures Section CSS */

#features {
  padding: 5rem, 0;
}

#features .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.features-top {
  text-align: center;
}

.features-top .heading-title {
  margin-bottom: -1.5rem;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features-item {
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  width: 32%;
}

/* Pricing tables css */
.pricing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
.wrapper {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table {
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.table .price-section {
  display: flex;
  justify-content: center;
}
.table .price-area {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}

.table {
  border-radius: 5%;
}

.price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price {
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name {
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name {
  font-size: 17px;
  font-weight: 400;
}
.features li .icon {
  font-size: 15px;
}
.features li .icon.check {
  color: #2db94d;
}
.features li .icon.cross {
  color: #cd3241;
}
.table .btn {
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button {
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover {
  border-radius: 5px;
}
.basic .features li::selection {
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area {
  background: #ffd861;
}
.basic .btn button {
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.basic .btn button:hover {
  background: #ffd861;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button {
  background: #a26bfa;
}
.premium .btn button:hover {
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area {
  background: #43ef8b;
}
.ultimate .btn button {
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover {
  background: #43ef8b;
  color: #fff;
}
.basic .package-name {
  background: #ffecb3;
}
.premium .package-name {
  background: #d0b3ff;
}
.ultimate .package-name {
  background: #baf8d4;
}
.basic .package-name::before {
  content: 'Basic';
}
.premium .package-name::before {
  content: 'Premium';
  font-size: 24px;
}
.ultimate .package-name::before {
  content: 'Ultimate';
  font-size: 24px;
}

::selection {
  color: #fff;
}
.table .ribbon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after {
  position: absolute;
  content: '';
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before {
  top: 0px;
  right: 15px;
}
.table .ribbon::after {
  bottom: 15px;
  left: 0px;
}
.table .ribbon span {
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

/* f.a.q section css */

/* Testimonial Slider */
.testimonial-wrapper {
  display: flex;
  height: 650px;
  align-items: center;
  justify-content: center;
  background: #ff676d;
  position: relative;
}
.testimonial-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  background: #ff676d;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection {
  background: #ff676d;
  color: #fff;
}

.testi-container h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: -3rem;
  font-weight: 600;
  font-size: 60px;
  opacity: 0.8;
  text-align: center;
  color: white;
}

.testi-container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.testi-container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
.testi-container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #ff676d;
  margin-bottom: 14px;
}
.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name {
  font-size: 20px;
  font-weight: 500;
}
.card .content .job {
  font-size: 20px;
  color: #ff676d;
}
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}
.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #ff676d;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  color: #ff676d;
  background-color: #fff;
  border-color: #ff676d;
}
.testi-container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}
#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type='radio'] {
  display: none;
}

/*  */
