@media (max-width: 1000px) {
  /* navbar tablet */

  /* top tablet */
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  /* skill tablet */

  .skill-wrapper {
    border-radius: 0%;
  }

  .card {
    width: 45%;
    margin: 12px auto;
  }
  .title {
    font-size: 18px;
    padding: 8px 0;
  }

  .card p {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .features-top {
    margin-top: 250px;
  }

  .features-item {
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    width: 45%;
  }
}

@media (max-width: 1020px) {
  .wrapper .table {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .features-top p {
    padding: 0;
  }

  .features-container {
    grid-template-columns: 1fr;
  }

  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }

  .testi-container {
    margin-top: 200px;
  }
}

@media (max-width: 820px) {
  .faq-wrapper .accordion {
    margin-top: 14rem;
  }

  .testimonial-wrapper {
    margin-top: 1rem;
  }

  .testi-container .heading-title {
    font-size: 38px;
    margin-top: 1rem;
  }
}
